@font-face {
    font-family: Bricolage-Regular;
    src: url('fonts/BricolageGrotesque-Regular.ttf');
}
@font-face {
    font-family: Bricolage-SemiBold;
    src: url('fonts/BricolageGrotesque-SemiBold.ttf');
}
@font-face {
    font-family: Bricolage-Bold;
    src: url('fonts/BricolageGrotesque-Bold.ttf');
}

.Bricolage-Regular{
    font-family: "Bricolage-Regular",serif;
}

.Bricolage-SemiBold {
    font-family: "Bricolage-SemiBold",serif;
}

.Bricolage-Bold {
    font-family: "Bricolage-Bold",serif;
}

html, body {
    font-family: Bricolage-Regular, sans-serif;
}

#app {
   /*background:url("./images/Fondo.jpg");*/
    background-color: #f7f9fb;
    color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height:100vh;
}

.red{
    color: #ED254E;
}

.yellow{
    color: #CE7636;
}

.cream{
    color: #F4FFFD;
}

.blue{
    color: #011936;
}

.charcol{
    color:#465362;
}